@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-slate-100 bg-slate-950;
  }
}

/* Custom Scrollbar for better UI */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #334155;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #475569;
}
